<header style="background-color: rgb(1, 14, 23); border-radius: 5px;" class="pb-3 mb-4 border-bottom">
  <nav  class="navbar navbar-expand navbar-dark bg-dark">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a   style="color: rgb(255, 255, 255);" class="nav-link" routerLink="home">Home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a  style="color: rgb(253, 253, 253);"  class="nav-link" routerLink="login" >Login</a>
        </li>
        <li class="nav-item">
          <a style="color: rgb(253, 253, 253);"  class="nav-link" routerLink="productos" >Listado de Producto</a>
        </li>
        <li class="nav-item">
          <a style="color: rgb(253, 253, 253);"  class="nav-link" routerLink="altaProducto" >Alta de Producto</a>
        </li>
        <li class="nav-item">
          <a style="color: rgb(253, 253, 253);"  class="nav-link" routerLink="productoDetalle" >Detalle de Producto</a>
        </li>
        <li class="nav-item">
          <a style="color: rgb(253, 253, 253);"  class="nav-link" routerLink="abmContainer" >ABM Container</a>
        </li>
      </ul>
  </nav>
</header>

<router-outlet></router-outlet>
