<form>
    <input disabled="true" name="codigo"  class="form-control" type="text"   [(ngModel)]="container.codigo"  >
    <input disabled="true" name="empresa" class="form-control" type="text"   [(ngModel)]="container.empresa" >
    <input disabled="true" name="capacidad" class="form-control" type="number"   [(ngModel)]="container.capacidad" > 
    <input disabled="true" name="color" style="height: 50px;" class="form-control" type="color" [(ngModel)]="container.color" >
    <button type="button" class="w-100 btn btn-lg btn-outline-primary" (click)="myAlert()">Eliminar Container</button>
</form>
